<h1>UNSAAC: ESCUELA PROFESIONAL DE ING.INFORMATICA </h1>

<div class="center">

	<div class="card">
		<div class="additional">
			<div class="user-card">
				<div class="general ">
					<h1>FOTO / PERFIL </h1> 
				</div>
        <div class="logo-container">
          <div class="logo">
              <img src="https://pbs.twimg.com/profile_images/1106680001368346625/uKM4e-br_400x400.png">
          </div>
        </div >
          
           <div class="points center" >
            Descripcion        
			</div>
            <div class="center ">
                <div class="d-grid gap-2">
                  <button class="btn btn-lg btn-primary" type="button">Capacitaciones</button>
                  <button class="btn btn-lg btn-primary" type="button">Experiencia Laboral</button>
                  <button class="btn btn-lg btn-primary" type="button">Editar Perfil</button>

                </div>
            </div>
			<div class="more-info">
                <h1></h1>
                
			</div>
		</div>
		<div class="general more-info">
            <h1>PERFIL ESTUDIANTE</h1>
                <div class="coords">
                <span class="strong">Semestre </span>
                </div>
                <div class="coords">
                <span class="strong">Carrera  </span>
                </div>
                <div class="coords">
                <span class="strong">Universidad  </span>
                </div>
                <span class="more">Mouse over the card for more info</span>
		</div>
	</div>
</div>